@charset "UTF-8";

/* 빨래방 pc */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
/* Gothic A1 구글폰트 */
* {
  outline: 0px solid darkblue;
}
html, p, ul, ol, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  }
:root {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  text-align: center;
}

section {
    height: 325px;
    display: flex;
    align-items: center;
    gap: 70px
  }

  /* 자식의 순서를 바꿀 수 있는 속성 order, self형식으로 선언
  기본 html의 나열이 최우선 순위, 그 이후로 선언된 order속성에
  따라 순서를 변경시킬 수 있다 */
  section:nth-of-type(2) .txtBox {
    order: 1;
  }
  section:nth-of-type(2) img {
    order: 2;
  }

.txtBox h2 {
    color: #00B9D2;
/* 빨래방/category */
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.txtBox h3 {
    color: #000;

/* 빨래방/title_pc */
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 100% */
}
.txtBox p {
    color: #353535;

font-feature-settings: 'liga' off;
/* 빨래방/substance_pc */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 27.2px */
}
/* 바디를 기준으로 레이아웃 가운데정렬 */
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.inner {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  /* 스스로 레이아웃 가운데정렬 */
  margin: 0 auto;
}

